<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matchings</title>
</head>
<body>

{% for data in matchings %}

    <li>{{data.competitor}}</li>
    <li>{{data.product}}</li>
    <li>{{data.price}}</li>

{% endfor %}

</body>
</html>